<div class="container py-4 border-bottom border-2">
  {% comment %} Header {% endcomment %}
  <div class="container py-1">
    <div class="row row-cols-auto align-items-center">
      <div class="col userpic text-center fw-bold fs-1" style="background-color:{{post.user.quipper.get_userpic_color}}">
        {{post.user|make_list|first|upper}}
      </div>
      <div class="col fw-bold fs-5">
        <a class="text-decoration-none text-reset" href="/user/{{post.user.id}}">{{post.user}}</a>
      </div>
      {% load tz %}
      <div class="col fs-6">{{post.created_at|localtime}}</div>
    </div>
  </div>

  {% comment %} Text {% endcomment %}
  <div class="container py-2 text-break">
    <p class="fs-4">{{ post.text }}</p>
  </div>

  {% comment %} Action bar {% endcomment %}
  <div class="container py-1">
    <a class="btn btn-light text-decoration-none" href="/quip/{{post.id}}" role="button">
      {% if post.get_replies_count == 0 %}
        💬 Reply
      {% else %}
        🗣 {{post.get_replies_count}}
      {% endif %}
    </a>
    {% csrf_token %}
    <button type="submit" postid = "{{post.id}}" id="quip_{{post.id}}" class="like btn btn-light text-decoration-none">
      {% if post.get_likes_count == 0 %}
        🤍 Like
      {% else %}
        ❤️ {{post.get_likes_count}}
      {% endif %}
    </button>
  </div>
</div>
